.wrapper {
    border: 1px solid black;
    padding: 40px;
    max-width: 40%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(270deg, lightblue, lightpink);
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: self-start;
    width: 60%;
  }
  
  .form input {
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
  }
  input[type="text"] {
    width: 80%;
  }
  input[type="email"] {
    width: 80%;
  }
  h2 {
    text-align: center;
  }
  input[type="submit"] {
    min-width: 40%;
    align-self: center;
    background-color: rgb(11, 11, 11);
    color: aliceblue;
    font-size: 16px;
    margin-top: 20px;
  }
  span{
     font-weight: 700;
  }
  .gender{
      display: flex;
      gap: 10px;
  }