.info {
  width: 100%;
}

.join_block {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  color: aliceblue;
  text-decoration: none;
  outline: none;
  font-size: 22px;
  padding: 20px;
  outline: none;
  border: none;
  background-color: lightblue;
  font-size: 22px;
  width: 50%;
}
.link:hover{
  background-color: rgb(134, 179, 192);
  cursor: pointer;
}